*~
\.DS_Store
API/node_modules/
API/logs/*.log
.idea/
TEST/node_modules/
vhost/node_modules/
.nyc_output/
./coverage
*.log
.vscode/
/node_modules

API/configs
# Ignore medias

API/public/media/dev/profile/*
!API/public/media/dev/profile/empty
API/public/media/prod/profile/*
!API/public/media/prod/profile/empty
API/public/media/test/profile/*
!API/public/media/test/profile/empty

API/public/media/dev/review/*
!API/public/media/dev/review/empty
API/public/media/prod/review/*
!API/public/media/prod/review/empty
API/public/media/test/review/*
!API/public/media/test/review/empty

API/public/media/dev/news/*
!API/public/media/dev/news/empty
API/public/media/prod/news/*
!API/public/media/prod/news/empty
API/public/media/test/news/*
!API/public/media/test/news/empty

API/public/media/dev/event/*
!API/public/media/dev/event/empty
API/public/media/prod/event/*
!API/public/media/prod/event/empty
API/public/media/test/event/*
!API/public/media/test/event/empty

API/public/media/dev/feedback/*
!API/public/media/dev/feedback/empty
API/public/media/prod/feedback/*
!API/public/media/prod/feedback/empty
API/public/media/test/feedback/*
!API/public/media/test/feedback/empty


node_modules/

ia_trait\.txt

\.vscode/

coverage/
